#  BASIC DATA TYPES

## BASICS

### P1.PY

In [51]:
"""
Placeholders
"""

# You're writing a program, and you don't know what your starting value for your 'initial' variable is yet. The program won't run if you leave it blank, but you don't want to forget you need it! Make a workaround.

initial_var = {} # {} is a placeholder, remember to come back to change the initial variable



### P2.PY

In [52]:
"""
Basic Variables
"""

# Create a variable that represents your favorite number, and add a note to remind yourself what this variable represents. Now print it out without re-typing the number.

fav_num = 18 # 18 is my favorite number

print(fav_num)

# Create another variable that represents your favorite color, and do the same steps as above.

fav_col = 'Blue' # Blue is my favorite color

print(fav_col)

18
Blue



### P3.PY

In [53]:
"""
String Formatting
"""

# Create a variable that contains the first 4 lines of your favorite song. Add a comment that includes the song title and artist **each on their own line**! Now print out this variable.

fav_song = """
Long days, longer nights
You keep startin' fights
Think you always right
Call you up to tell you I ain't comin' home tonight
"""
# song title is Missed Calls
# artist is Mac Miller

print(fav_song)

Long days, longer nights
You keep startin' fights
Think you always right
Call you up to tell you I ain't comin' home tonight



## TYPECASTING

### P1.PY

In [54]:
"""
Typcasting w. Integers & Floats
"""

# Convert these numbers into floats and back. Print out each result as well as its data type.

five = 5
zero = 0
neg_8 = -8
neg_22 = -22

int_to_float = float(five) #I'm unsure if the conversion code is necessary? In coming back to this after completion, I believe I can omit all of the conversion code as it is not what is being ask/required in these situations, just using typecasting. last update = I'm realizing the float() function etc literlaly means int_to_float and that is not required
int_to_float = float(zero) #I am leaving these in here even though I realized as I continued with the assessment that none of them are relevant nor required.
int_to_float = float(neg_8)
int_to_float = float(neg_22)

print(float(five), type(float(five)))
print(float(zero), type(float(zero)))
print(float(neg_8), type(float(neg_8)))
print(float(neg_22), type(float(neg_22)))

float_to_int = int(five) #same here. can run with just the print functions and returns the same desired outcome)
float_to_int = int(zero)
float_to_int = int(neg_8)
float_to_int = int(neg_22)

print(five, type(five)) #is is necessary to write as format above? ie print(int(five), type(int(five))) - would return the same thing
print(zero, type(zero))
print(neg_8, type(neg_8))
print(neg_22, type(neg_22))

5.0 <class 'float'>
0.0 <class 'float'>
-8.0 <class 'float'>
-22.0 <class 'float'>
5 <class 'int'>
0 <class 'int'>
-8 <class 'int'>
-22 <class 'int'>



### P2.PY

In [55]:
"""
Typcasting w. Strings
"""

# Convert these variables into strings and then back to their original data types. Print out each result as well as its data type. What do you notice about the last one?

five = 5
zero = 0
neg_8 = -8
T = True
F = False

int_to_string = str(five) # - leaving this all in here even though it is not relevant
int_to_string = str(zero)
int_to_string = str(neg_8)
boolean_to_string = str(T)
boolean_to_string = str(F)

print(str(five), type(str(five)))
print(str(zero), type(str(zero)))
print(str(neg_8), type(str(neg_8)))
print(str(T), type(str(T)))
print(str(F), type(str(F)))

string_to_int = int(five) # ""
string_to_int = int(zero)
string_to_int = int(neg_8)
string_to_boolean = bool(T)
string_to_boolean = bool(F)

print(five, type(five)) #same as above in terms of comment. is the code redundant and do I need additional specifications? I can run with just the print functions and return without doing conversion
print(zero, type(zero))
print(neg_8, type(neg_8))
print(T, type(T))
print(F, type(F))  # don't notice much other than we are using integers and boolean to string (and vice versa) versus the prompt above which is integer to float and back

5 <class 'str'>
0 <class 'str'>
-8 <class 'str'>
True <class 'str'>
False <class 'str'>
5 <class 'int'>
0 <class 'int'>
-8 <class 'int'>
True <class 'bool'>
False <class 'bool'>



### P3.PY

In [56]:
"""
Booleans I - Typecasting w. Numbers
"""

# A) Use typecasting to turn these variables into boolean values. Print the result and the datatype of the result.

one = 1
zero = 0

int_to_boolean = bool(one) #same question - is the conversion necessary or redundant? I'm going to complete the rest without using convert values
int_to_boolean = bool(zero) #same as in above sections

print(bool(one), type(bool(one)))
print(bool(zero), type(bool(zero)))


# B) Use typecasting to turn the resultant variables from part A into floats. Print the result and the datatype of the result.

print(float(one), type(float(one)))
print(float(zero), type(float(zero)))


# C) Use typecasting to turn the resultant variables from part B back into booleans. Print the result and the datatype of the result.

print(bool(one), type(bool(one)))
print(bool(zero), type(bool(zero)))

# D) Use typecasting to turn the resultant variables from part C into integers. Print the result and the datatype of the result.

print(int(one), type(int(one)))
print(int(zero), type(int(zero)))

# E) Use typecasting to turn the variable below into a boolean value. Print the result and the datatype of the result.

ten = 10

print(bool(ten), type(bool(ten)))

True <class 'bool'>
False <class 'bool'>
1.0 <class 'float'>
0.0 <class 'float'>
True <class 'bool'>
False <class 'bool'>
1 <class 'int'>
0 <class 'int'>
True <class 'bool'>



### P4.PY

In [57]:
"""
Booleans II - Typecasting w. Strings
"""

# A) Use typecasting to turn these variables into boolean values. Print the result and the datatype of the result.

one = 1
zero = 0
bool_true = True
bool_false = False

print(bool(one), type(bool(one)))
print(bool(zero), type(bool(zero)))
print(bool(bool_true), type(bool(bool_true)))
print(bool(bool_false), type(bool(bool_false)))

# B) Use typecasting to turn the latest values for variables 'one' and 'zero' back into integers. Print the result and the datatype of the result.

print(int(one), type(int(one)))
print(int(zero), type(int(zero)))

# C) Use typecasting to turn the latest values for variables 'bool_true' and 'bool_false' back into boolean values. Print the result and the datatype of the result.

print(bool(bool_true), type(bool(bool_true))) # is this required instead of just using print(bool_true, type(bool_true))
print(bool(bool_false), type(bool(bool_false)))

True <class 'bool'>
False <class 'bool'>
True <class 'bool'>
False <class 'bool'>
1 <class 'int'>
0 <class 'int'>
True <class 'bool'>
False <class 'bool'>



## OPERATORS

### P1.PY

In [58]:
"""
Integer & Float Operators
"""

# Complete the specified math operations. Do the next operation on the result from the previous operation.

orig_var = 100

# Add 50

orig_var += 50

print(orig_var)

# Subtract 90

orig_var -= 90

print(orig_var)

# Multiply 10

orig_var *= 10

print(orig_var)

# Divide 150

orig_var /= 150

print(orig_var)

# Modulus 3

orig_var %= 3

print(orig_var)

150
60
600
4.0
1.0



### P2.PY

In [59]:
"""
String Operators
"""

# Create two variables, each of which is half of a compound sentence. Do NOT add any punctuation up front. Add the two variables together, and print the result.
## Example compound sentence: "I'll go to the beach today, and I'll go snorkeling."

first = "I want to walk my dog"
second = "but it's raining"

print(first + ', ' + second + '.') # with punctuation

I want to walk my dog, but it's raining.



### P3.PY

In [60]:
"""
Addition I - Numbers & Strings
"""

# Add the below sets of variables together.

# A)
a = 0
b = 2

print(a + b) # formatted as addition

print(a, b) # formatted as together

print(str(a) + str(b)) # formatted as togher as strings - unsure what you wanted

# B)
c = '0'
d = '2'

print(c, d)

print(c + d) # this is adding them together unformatted

print(int(c) + int(d)) # adding them together formatted as integers

print(str(c) + str(d)) # unsure what you wanted

print(str(c), str(d)) # ""

# C)
e = "0"
f = 2

print(int(e) + f) # integer

print(e, f)

#unformatted would be print(e + f) which is an error

2
0 2
02
0 2
02
2
02
0 2
2
0 2



### P4.PY

In [61]:
"""
Addition II - Booleans
"""

# Add the below sets of variables together.

# A)
a = True
b = True

print(a + b) # from my perspective, it does not seem necessary to first convert these assuming we are looking for the value.

print(str(a) + str(b)) #assuming we want the strings added, this would be the case

print(str(a) + ' ' +str(b)) # "" but with formatting

# B)
c = False
d = False

print(c + d)

# C)
e = True
f = False

print(e + f)

2
TrueTrue
True True
0
1